# Skip .vscode files
.vscode

# Python Byte code
__pycache__
*.pyc

# MacOS hidden files
.DS_Store

# mypy cache
.mypy_cache

# pytest cache
.pytest_cache

# pytest-cov info
.coverage

# tox
.tox

# venv
.venv
